<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
		<head>
		<!-- REQUIRED META TAGS -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- PAGE META TAGS -->
		<meta name="description" content="Fetch API web parse procesor">
		<meta name="author" content="Kemedia, LLC.">

		<!-- TRACKING AFFILIATES AND BOTS -->
		<meta name="robots" content="noindex, nofollow">
		<meta name="googlebot" content="noindex, nofollow">

		<!-- TITLE -->
		<title>Fetch API</title>
		
		<!-- LINK RELATIVE -->
<link rel="canonical" href="https://kemist.github.io/kemedia/">

<!-- ICONS -->
<link rel="icon" sizes="192x192" href="https://material.io/static/images/simple-lp/favicons/components-192x192.png">
<link rel="shortcut icon" href="https://material.io/static/images/simple-lp/favicons/components-72x72.png">

<!-- STYLES -->

<!-- STYLES/FONTS -->
<!-- Roboto, Noto Sans, Poppins, Roboto Condensed  -->
<link href="https://fonts.googleapis.com/css?family=Roboto:700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Poppins|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

<!-- STYLES/CSS -->

<!-- STYLES/CSS BS4 Core CSS -->
<link rel="stylesheet" type="text/css" href="https://kemist.github.io/kemedia/assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://kemist.github.io/kemedia/assets/css/bootstrap-grid.css">
<link rel="stylesheet" type="text/css" href="https://kemist.github.io/kemedia/assets/css/bootstrap-reboot.css">

                                                       
<!-- STYLES/CSS Font Awesome -->
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- STYLES/CSS Custom Styles For This Template -->
<!-- bs-blog and starter-template.css-->
<link rel="stylesheet" type="text/css" href="/templates/bs-blog/bs-blog.css">
<link rel="stylesheet" type="text/css" href="kemedia/templates/navbar-top-fixed/starter-template.css">
<!-- <link rel="stylesheet" type="text/css" href="navbar-top-fixed.css"> -->
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      body {
        padding-bottom: 20px;
      }
      .navbar {
         margin-bottom: 20px;
      }
    </style>
		

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  
  
  
  
  
  
  <body>
    <header>
      <h1>
        Fetch API
      </h1>
      <hr>
    </header>

    <main>
      <p class="bold">Oh hi,</p>
      
      <p>Tell me your hopes and dreams:</p>
      
      <form>
        <input name="dream" type="text" maxlength="100" placeholder="Dreams!" aria-labelledby="submit-dream">
        <button type="submit" id="submit-dream">Submit Dream</button>
      </form>
      
      <section class="dreams">
        <ul id="dreams"></ul>
      </section>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
